# Bootcamp Data Clean

In [ ]:
import pandas as pd
import numpy as np 

# Read from CSV
camp_data = pd.read_csv("../resources/2016-FCC-New-Coders-Survey-Data.CSV", low_memory=False)
camp_data.head()

## Part 1

In [2]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
camp1_data = camp_data.iloc[:,[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

In [3]:
# Change reading 0 and 1 to No and Yes
camp1_data = camp1_data.replace(0,'No')
camp1_data = camp1_data.replace(1,'Yes')

In [4]:
# Extract rows for only those who attended a bootcamp
attended_camp = camp1_data.loc[camp1_data['AttendedBootcamp']=='Yes']
attended_camp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [5]:
# Create DataFrame of the different boot camps that had a significant number of attendees
grouped_camp_att = attended_camp.groupby(['BootcampName'])

att_count = grouped_camp_att['BootcampName'].count()

summary_table1 = pd.DataFrame({
    'Number of Attendees': att_count
})

summary_table1_sorted = summary_table1.sort_values('Number of Attendees', ascending=False).head(10)

summary_table1_sorted

                       Number of Attendees
BootcampName
General Assembly                        90
Flatiron School                         54
Dev Bootcamp                            48
The Iron Yard                           40
Prime Digital Academy                   30
Hack Reactor                            29
Turing                                  27
App Academy                             22
Hackbright Academy                      22
Bloc.io                                 21

In [6]:
# Count how many attendees of each bootcamp would recommend the bootcamp
len(attended_camp['BootcampName'].unique())

129

In [7]:
reco_camp = attended_camp.loc[attended_camp['BootcampRecommend']=='Yes']

grouped_camp_reco = reco_camp.groupby(['BootcampName'])

reco_count = grouped_camp_reco['BootcampName'].count()

summary_table2 = pd.DataFrame({
    'Number Recommended': reco_count
})

summary_table2_sorted = summary_table2.sort_values('Number Recommended', ascending=False).head(10)

summary_table2_sorted

                       Number Recommended
BootcampName
General Assembly                       70
Flatiron School                        50
Dev Bootcamp                           41
The Iron Yard                          31
Hack Reactor                           27
Turing                                 26
Prime Digital Academy                  25
App Academy                            20
Hackbright Academy                     19
MakerSquare                            18

In [8]:
# Merge the two created data frames on the name of tbe bootcamp
add_summary_table1 = summary_table1.reset_index()
add_summary_table2 = summary_table2.reset_index()

add_summary_table2['Number Recommended'] = pd.to_numeric(add_summary_table2['Number Recommended'])

merged_summary_table = pd.merge(add_summary_table1, add_summary_table2, how="left", on=["BootcampName", "BootcampName"])
merged_summary_table = merged_summary_table.set_index('BootcampName')

In [9]:
# Calculate percentage of eac bootcamp's students who are recommenders
merged_summary_table['Percentage Recommended'] = merged_summary_table['Number Recommended'] / merged_summary_table['Number of Attendees'] *100

merged_summary_table_sorted = merged_summary_table.sort_values('Percentage Recommended', ascending=False)

merged_clean_sorted = merged_summary_table_sorted
merged_clean_sorted['Number Recommended'] = merged_clean_sorted['Number Recommended'].map('{:,.0f}'.format)
merged_clean_sorted['Percentage Recommended'] = merged_clean_sorted['Percentage Recommended'].map('{:,.0f}'.format)

merged_clean_sorted

,Number of Attendees,Number Recommended,Percentage Recommended
BootcampName,,,
CodeCraft School,1,1,100
LEARN Academy,3,3,100
Origin Code Academy,1,1,100
CodeaCamp,8,8,100
Codecademy Labs,2,2,100
Viking Code School,10,10,100
Coder Factory,2,2,100
Coder Foundry,1,1,100
Coder's Lab,1,1,100
Stackademy,1,1,100
Operation Spark,1,1,100
Microsoft Research Data Science Summer School,1,1,100
Omaha Code School,2,2,100
DESIGNATION,1,1,100
Dev Academy,13,13,100
Grand Circus,3,3,100
Dev League,3,3,100
Science to Data Science,1,1,100
Grace Hopper Academy,3,3,100
The Data Incubator,1,1,100
DigitalCrafts,2,2,100
EHD Academy,2,2,100
Eleven Fifty Academy,2,2,100
Fullstack Academy,6,6,100
Telegraph Academy,2,2,100
CodeMasters Academy,1,1,100
Founders & Coders,1,1,100
Code Union,1,1,100
Makers Academy,12,12,100
Le Wagon,1,1,100
...,...,...,...
PDX Code Guild,2,1,50
Devschool,4,2,50
Digital House,2,1,50
Fire Bootcamp,2,1,50
4Geeks Academy,8,4,50
HackerYou,2,1,50
LearningFuze,2,1,50
Bit Bootcamp,4,2,50
Metis,2,1,50
Mobile Makers Academy,2,1,50
Wyncode,6,3,50
Zip Code Wilmington,3,1,33
Coding House,3,1,33
We Can Code IT,3,1,33
V School,3,1,33
Starter League,3,1,33
tradecraft,3,1,33
Codify Academy,4,1,25
Academic Work Academy,1,nan,nan
Academy X,1,nan,nan
Alphappl,1,nan,nan
Astro Code School,1,nan,nan
Atlanta Code,1,nan,nan
Code For Progress,1,nan,nan
DaVinci Coders,2,nan,nan
Data Science Dojo,1,nan,nan
Interface Web School,1,nan,nan
Montana Code School,1,nan,nan
TalentBuddy,1,nan,nan
World Tech Makers,1,nan,nan